body {
  margin: 5;
  padding: 5;
  font-family: Arial, sans-serif;
  border: 2px solid black;
  border-radius:20px;
  background-color: #3f78ff;
  box-sizing:border-box;
}

.thank-you-container {
  text-align: center;
  margin-top: 2px;
}
h1 {
  color: #333;
}

p {
  color: #ffffff;
}
.emoji{
    font-size:100px;
    text-align: center;
    margin-bottom:2px;
}
/*back button*/
.back-btn{

  align-items: center;

  text-align: center;

  border-radius: 10px;

  margin-top: 10px;

  height: 30%;

  width: 100%;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);

}

.back-btn a{

  text-decoration: none;

  font-size: 0.9rem;

  padding: 12px 15px;

  background-color: white;

  font-weight: 600;
  border-radius: 4px;

}

a.yellow{

  color: white;

  background-color: #FDC93B;

  transition: 0.3s ease

}

a.yellow:hover{

  color:#FDC93B;

  background-color: white;

}
